SELECT 
      [System]
     ,count(*) as [liczba faktur]
      
  FROM [LexEnaPro].[dbo].[BIGvw_ObligationLastStatus]
  group by system
  
  SELECT 
      [System]
     ,sum(saldo) as [wysokość należności]
      
  FROM [LexEnaPro].[dbo].[BIGvw_ObligationLastStatus]
  group by system
  
SELECT 
      [System],
      count(*) as [Liczba dłużników] 
  FROM [LexEnaPro].[dbo].[BIGvw_DluznicyAktual]
  group by system